# valve 3 menu configuration

# vdx instance 
vdx=vdxhost
vdxhost.host=quiet
vdxhost.port=16050

# top level menus
section=Deformation
Deformation.icon=globe.gif
Deformation.sortOrder=1
Deformation.expanded=true

section=Seismic
Seismic.icon=globe.gif
Seismic.sortOrder=2
Seismic.expanded=false

section=Gas
Gas.icon=globe.gif
Gas.sortOrder=3

# deformation sub menues
source=isti_deformation_gps
isti_deformation_gps.plotter=gov.usgs.valve3.plotter.GPSPlotter
isti_deformation_gps.plotter.plotComponentsSeparately=false
isti_deformation_gps.name=GPS
isti_deformation_gps.menu=gpsmenu
isti_deformation_gps.section=Deformation
isti_deformation_gps.sortOrder=1
isti_deformation_gps.vdx=vdxhost
isti_deformation_gps.vdx.source=isti_deformation_gps
isti_deformation_gps.biastype=none

source=isti_deformation_tilt
isti_deformation_tilt.plotter=gov.usgs.valve3.plotter.TiltPlotter
isti_deformation_tilt.plotter.plotComponentsSeparately=false
isti_deformation_tilt.name=Tilt
isti_deformation_tilt.menu=tiltmenu
isti_deformation_tilt.section=Deformation
isti_deformation_tilt.sortOrder=2
isti_deformation_tilt.vdx=vdxhost
isti_deformation_tilt.vdx.source=isti_deformation_tilt
isti_deformation_tilt.biastype=mean

source=isti_deformation_strain
isti_deformation_strain.plotter=gov.usgs.valve3.plotter.GenericFixedPlotter
isti_deformation_strain.plotter.plotComponentsSeparately=false
isti_deformation_strain.name=Strain
isti_deformation_strain.menu=genericfixedmenu
isti_deformation_strain.section=Deformation
isti_deformation_strain.sortOrder=3
isti_deformation_strain.vdx=vdxhost
isti_deformation_strain.vdx.source=isti_deformation_strain
isti_deformation_strain.biastype=initial

source=isti_deformation_tensorstrain
isti_deformation_tensorstrain.plotter=gov.usgs.valve3.plotter.TensorstrainPlotter
isti_deformation_tensorstrain.plotter.plotComponentsSeparately=false
isti_deformation_tensorstrain.plotter.lineType=l
isti_deformation_tensorstrain.name=Tensorstrain
isti_deformation_tensorstrain.menu=tensorstrainmenu
isti_deformation_tensorstrain.section=Deformation
isti_deformation_tensorstrain.sortOrder=4
isti_deformation_tensorstrain.vdx=local
isti_deformation_tensorstrain.vdx.source=isti_deformation_tensorstrain

# gas sub menus
source=isti_gas_co2
isti_gas_co2.plotter=gov.usgs.valve3.plotter.GenericFixedPlotter
isti_gas_co2.plotter.plotComponentsSeparately=false
isti_gas_co2.name=CO2
isti_gas_co2.menu=genericfixedmenu
isti_gas_co2.section=Gas
isti_gas_co2.sortOrder=1
isti_gas_co2.vdx=vdxhost
isti_gas_co2.vdx.source=isti_gas_co2
isti_gas_co2.biastype=none

# seismic sub menus
source=isti_seismic_hypocenters
isti_seismic_hypocenters.plotter=gov.usgs.valve3.plotter.HypocenterPlotter
isti_seismic_hypocenters.plotter.plotComponentsSeparately=false
isti_seismic_hypocenters.name=Hypocenters
isti_seismic_hypocenters.menu=hypocentermenu
isti_seismic_hypocenters.section=Seismic
isti_seismic_hypocenters.sortOrder=1
isti_seismic_hypocenters.vdx=vdxhost
isti_seismic_hypocenters.vdx.source=isti_seismic_hypocenters
isti_seismic_hypocenters.biastype=none

source=isti_seismic_winston_waveforms
isti_seismic_winston_waveforms.plotter=gov.usgs.valve3.plotter.WavePlotter
isti_seismic_winston_waveforms.plotter.plotComponentsSeparately=false
isti_seismic_winston_waveforms.name=Winston Waveforms
isti_seismic_winston_waveforms.menu=wavemenu
isti_seismic_winston_waveforms.section=Seismic
isti_seismic_winston_waveforms.sortOrder=3
isti_seismic_winston_waveforms.vdx=vdxhost
isti_seismic_winston_waveforms.vdx.source=isti_seismic_winston_waveforms
isti_seismic_winston_waveforms.biastype=none

source=isti_seismic_winston_helicorders
isti_seismic_winston_helicorders.plotter=gov.usgs.valve3.plotter.HelicorderPlotter
isti_seismic_winston_helicorders.plotter.plotComponentsSeparately=false
isti_seismic_winston_helicorders.name=Winston Helicorders
isti_seismic_winston_helicorders.menu=helimenu
isti_seismic_winston_helicorders.section=Seismic
isti_seismic_winston_helicorders.sortOrder=4
isti_seismic_winston_helicorders.vdx=vdxhost
isti_seismic_winston_helicorders.vdx.source=isti_seismic_winston_helicorders
isti_seismic_winston_helicorders.biastype=none

source=isti_seismic_winston_rsam
isti_seismic_winston_rsam.plotter=gov.usgs.valve3.plotter.RSAMPlotter
isti_seismic_winston_rsam.plotter.plotComponentsSeparately=false
isti_seismic_winston_rsam.name=Winston RSAM
isti_seismic_winston_rsam.menu=rsammenu
isti_seismic_winston_rsam.section=Seismic
isti_seismic_winston_rsam.sortOrder=5
isti_seismic_winston_rsam.vdx=vdxhost
isti_seismic_winston_rsam.vdx.source=isti_seismic_winston_rsam
isti_seismic_winston_rsam.biastype=none