#----------------------------------------------------------------------
#  Valve3 Application Configuration 
#
# All blank lines and lines that begin with '#' are ignored (comments).
#
# Otherwise, all configuration entries are of the format:
#    [key]=[value]
#
# Whenever a path or filename is specified if the first character is 
# '@' it is replaced by the path to the Valve installation.
#
# $Id: dist-valve3.config,v 1.1 2005-09-03 19:18:35 dcervelli Exp $
#----------------------------------------------------------------------

# title, the title of this installation, used visually in many places
title=New Valve Installation

# admin.name, the name of the administrator, used for email links mostly
admin.name=Administrator

# admin.email, the email of the administrator, used for email links mostly
admin.email=admin@admin.com

#----
# label file
labelIndex=@cvo_labels

# index file
imageIndex=@index

# image cache size in megapixels
imageCacheSize=24