#------------------------------------------------------------------
# Valve3 Application Configuration 
#
# All blank lines and lines that begin with '#' are ignored.
#
# Otherwise, all configuration entries are of the format:
#    [key]=[value]
#------------------------------------------------------------------

# title: the title of this installation, used visually in many places
title=VALVE3

# admin.name: the name of the administrator, used for email links mostly
admin.name=First Last

# admin.email: the email of the administrator, used for email links mostly
admin.email=admin@admin.com 

# timeZone: The timezone for this installation.  All times for input and output
#           will be in GMT[param-value].  Eg. -10 for Hawaii.
#           Internally, all data are requested in GMT and expected back in GMT.
#           The timezone parameter is used when times are input and output.
timeZone=-10

# timeZoneAbbr: The timezone abbreviaton that is displayed on the main Valve page.
timeZoneAbbr=HST

# logFile: the base name of the log file
logFile=/full/path/to/webapps/valve3/WEB-INF/logs/valve.log

# maxLogSize: maximum size of a single log file in bytes
maxLogSize=2000000

# maxLogFiles: maximum number of log files
maxLogFiles=10

# labelIndex: the name of the labels file
labelIndex=/full/path/to/webapps/valve3/labels.txt

# imageIndex: the name of the image index file
imageIndex=/full/path/to/webapps/valve3/images.txt

# imageCacheSize: image cache size in megapixels
imageCacheSize=32
