#
# **************** For development use only *************8
#
# $Id: data.config,v 1.2 2005-09-24 17:55:38 dcervelli Exp $

vdx=local
local.host=localhost
local.port=16050

vdx=cvo
cvo.host=130.118.179.204
cvo.port=16050

section=Alaska
Alaska.icon=globe.gif
Alaska.sortOrder=1

source=dan_tilt
dan_tilt.plotter=gov.usgs.valve3.plotter.TiltPlotter
dan_tilt.plotter.plotComponentsSeparately=false
dan_tilt.name=Tilt
dan_tilt.menu=tiltmenu
dan_tilt.section=Alaska
dan_tilt.sortOrder=0
dan_tilt.vdx=local
dan_tilt.vdx.source=dan_tilt

source=cvo_tilt
cvo_tilt.plotter=gov.usgs.valve3.plotter.TiltPlotter
cvo_tilt.plotter.plotComponentsSeparately=false
cvo_tilt.name=Tilt (CVO)
cvo_tilt.menu=tiltmenu
cvo_tilt.section=Alaska
cvo_tilt.sortOrder=0
cvo_tilt.vdx=cvo
cvo_tilt.vdx.source=msh_tilt

source=ak_eqs
ak_eqs.plotter=gov.usgs.valve3.plotter.HypocenterPlotter
ak_eqs.name=Hypocenters
ak_eqs.menu=catalogmenu
ak_eqs.section=Alaska
ak_eqs.sortOrder=2
ak_eqs.vdx=local
ak_eqs.vdx.source=ak_eqs

source=ak_waves
ak_waves.plotter=gov.usgs.valve3.plotter.WavePlotter
ak_waves.name=Waveforms
ak_waves.menu=wavemenu
ak_waves.sortOrder=5
ak_waves.section=Alaska
ak_waves.vdx=local
ak_waves.vdx.source=ak_waves

source=uw_waves
uw_waves.plotter=gov.usgs.valve3.plotter.WavePlotter
uw_waves.name=UW Waveforms
uw_waves.menu=wavemenu
uw_waves.sortOrder=5
uw_waves.section=Alaska
uw_waves.vdx=local
uw_waves.vdx.source=uw_waves

source=ak_gps
ak_gps.plotter=gov.usgs.valve3.plotter.GPSPlotter
ak_gps.plotter.plotComponentsSeparately=true
ak_gps.name=GPS
ak_gps.menu=gpsmenu
ak_gps.section=Alaska
ak_gps.sortOrder=1
ak_gps.vdx=local
ak_gps.vdx.source=ak_gps

source=msh_gps
msh_gps.plotter=gov.usgs.valve3.plotter.GPSPlotter
msh_gps.plotter.plotComponentsSeparately=true
msh_gps.name=MSH GPS
msh_gps.menu=gpsmenu
msh_gps.section=Alaska
msh_gps.sortOrder=1
msh_gps.vdx=local
msh_gps.vdx.source=msh_gps

source=ak_heli
ak_heli.plotter=gov.usgs.valve3.plotter.HelicorderPlotter
ak_heli.name=Helicorders
ak_heli.menu=helimenu
ak_heli.sortOrder=5
ak_heli.section=Alaska
ak_heli.vdx=local
ak_heli.vdx.source=ak_heli

source=ak_rsam
ak_rsam.plotter=gov.usgs.valve3.plotter.RSAMPlotter
ak_rsam.plotter.plotComponentsSeparately=false
ak_rsam.name=RSAM
ak_rsam.menu=rsammenu
ak_rsam.sortOrder=5
ak_rsam.section=Alaska
ak_rsam.vdx=local
ak_rsam.vdx.source=ak_rsam
