#----------------------------------------------------------------------
#  Valve3 Application Configuration
#
# All blank lines and lines that begin with '#' are ignored (comments).
#
# Otherwise, all configuration entries are of the format:
#    [key]=[value]
#
# Whenever a path or filename is specified if the first character is
# '@' it is replaced by the path to the Valve installation.
#----------------------------------------------------------------------

# title: the title of this installation, used visually in many places
title=VALVE3

# admin.name: the name of the administrator, used for email links mostly
admin.name=Admin Admin

# admin.email: the email of the administrator, used for email links mostly
admin.email=admin@admin.com

# timeZoneAbbr: The timezone abbreviaton that is used for calculation and display
# default: UTC
timeZoneAbbr=Timezone

# logFile: the base name of the log file
logFile=/path/to/log/valve3.log

# maxLogSize: maximum size of a single log file in bytes
maxLogSize=2000000

# maxLogFiles: maximum number of log files
maxLogFiles=10

labelIndex=/path/to/valve3/labels.txt
imageIndex=/path/to/valve3/images.txt

# imageCacheSize: in megapixels
imageCacheSize=32

######################
# Data Export Config #
######################

# openDataURL: makes request for a specific url override any other exportEnabled directives and returns the data
# default: undefined (exportEnabled behaves exactly as before)
# openDataURL=some.url

# exportEnabled: enables data export feature for entire instance of valve
# default: true

# exportDataWidth: width of exported data value
# default: 17.6

# exportCommnetLines: number of blank lines with leading # character to insert at beginning of output file
# default: 0

# exportCommentLine: prefix for stanza of exportCommentLine config
# exportCommentLine.index: position of line in file.  must be an integer and unique to other index
# exportCommnetLine.value: value of line in file. must be a string
