#------------------------------------------------------------------
# Valve3 Data Configuration 
#
# All blank lines and lines that begin with '#' are ignored.
#
# Otherwise, all configuration entries are of the format:
#    [key]=[value]
#------------------------------------------------------------------

# vdx instance 
vdx=local
local.host=localhost
local.port=16050

# top level menus
section=Deformation
Deformation.icon=globe.gif
Deformation.sortOrder=1

section=Seismic
Seismic.icon=globe.gif
Seismic.sortOrder=2

section=Gas
Gas.icon=globe.gif
Gas.sortOrder=3

# deformation sub menus
source=hvo_deformation_gps
hvo_deformation_gps.plotter=gov.usgs.volcanoes.valve3.plotter.GPSPlotter
hvo_deformation_gps.name=GPS
hvo_deformation_gps.menu=gpsmenu
hvo_deformation_gps.section=Deformation
hvo_deformation_gps.sortOrder=1
hvo_deformation_gps.vdx=local
hvo_deformation_gps.vdx.source=hvo_deformation_gps

source=hvo_deformation_tilt
hvo_deformation_tilt.plotter=gov.usgs.volcanoes.valve3.plotter.TiltPlotter
hvo_deformation_tilt.name=Tilt
hvo_deformation_tilt.menu=tiltmenu
hvo_deformation_tilt.section=Deformation
hvo_deformation_tilt.sortOrder=2
hvo_deformation_tilt.vdx=local
hvo_deformation_tilt.vdx.source=hvo_deformation_tilt

source=hvo_deformation_strain
hvo_deformation_strain.plotter=gov.usgs.volcanoes.valve3.plotter.GenericFixedPlotter
hvo_deformation_strain.name=Strain
hvo_deformation_strain.menu=genericfixedmenu
hvo_deformation_strain.section=Deformation
hvo_deformation_strain.sortOrder=3
hvo_deformation_strain.vdx=local
hvo_deformation_strain.vdx.source=hvo_deformation_strain

# seismic sub menus
source=hvo_seismic_hypocenters
hvo_seismic_hypocenters.plotter=gov.usgs.volcanoes.valve3.plotter.HypocenterPlotter
hvo_seismic_hypocenters.name=Hypocenters
hvo_seismic_hypocenters.menu=hypocentermenu
hvo_seismic_hypocenters.section=Seismic
hvo_seismic_hypocenters.sortOrder=1
hvo_seismic_hypocenters.vdx=local
hvo_seismic_hypocenters.vdx.source=hvo_seismic_hypocenters

source=hvo_seismic_winston_waveforms
hvo_seismic_winston_waveforms.plotter=gov.usgs.volcanoes.valve3.plotter.WavePlotter
hvo_seismic_winston_waveforms.name=Winston Waveforms
hvo_seismic_winston_waveforms.menu=wavemenu
hvo_seismic_winston_waveforms.section=Seismic
hvo_seismic_winston_waveforms.sortOrder=3
hvo_seismic_winston_waveforms.vdx=local
hvo_seismic_winston_waveforms.vdx.source=hvo_seismic_winston_waveforms

source=hvo_seismic_winston_helicorders
hvo_seismic_winston_helicorders.plotter=gov.usgs.volcanoes.valve3.plotter.HelicorderPlotter
hvo_seismic_winston_helicorders.name=Winston Helicorders
hvo_seismic_winston_helicorders.menu=helimenu
hvo_seismic_winston_helicorders.section=Seismic
hvo_seismic_winston_helicorders.sortOrder=4
hvo_seismic_winston_helicorders.vdx=local
hvo_seismic_winston_helicorders.vdx.source=hvo_seismic_winston_helicorders

source=hvo_seismic_winston_rsam
hvo_seismic_winston_rsam.plotter=gov.usgs.volcanoes.valve3.plotter.RSAMPlotter
hvo_seismic_winston_rsam.name=Winston RSAM
hvo_seismic_winston_rsam.menu=rsammenu
hvo_seismic_winston_rsam.section=Seismic
hvo_seismic_winston_rsam.sortOrder=5
hvo_seismic_winston_rsam.vdx=local
hvo_seismic_winston_rsam.vdx.source=hvo_seismic_winston_rsam

# gas sub menus
source=hvo_gas_co2
hvo_gas_co2.plotter=gov.usgs.volcanoes.valve3.plotter.GenericFixedPlotter
hvo_gas_co2.name=CO2
hvo_gas_co2.menu=genericfixedmenu
hvo_gas_co2.section=Gas
hvo_gas_co2.sortOrder=1
hvo_gas_co2.vdx=local
hvo_gas_co2.vdx.source=hvo_gas_co2
