#
# AVO Valve3 Configuration file
#
# $Id: valve3.config,v 1.1 2005-09-21 17:29:38 dcervelli Exp $
#


#----------------------------------------------------------------------
#  Valve3 Application Configuration 
#
# All blank lines and lines that begin with '#' are ignored (comments).
#
# Otherwise, all configuration entries are of the format:
#    [key]=[value]
#
# Whenever a path or filename is specified if the first character is 
# '@' it is replaced by the path to the Valve installation.
#----------------------------------------------------------------------

# title, the title of this installation, used visually in many places
title=AVO Valve

# admin.name, the name of the administrator, used for email links mostly
admin.name=Tom Parker

# admin.email, the email of the administrator, used for email links mostly
admin.email=tparker@usgs.gov

#----

# timeZone, The timezone for this installation.  All times for input and output
#           will be in GMT[param-value].  Eg. -10 for Hawaii.
#           
#           Internally, all data are requested in GMT and expected back in GMT.
#           The timezone parameter is used when times are input and output.
# timeZoneAbbr, The timezone abbreviaton that is displayed on the main Valve page.
#
timeZone=0
timeZoneAbbr=GMT

# logFile, the base name of the log file
logFile=@WEB-INF/logs/valve.log

# maxLogSize, maximum size of a single log file in bytes
maxLogSize=2000000

# maxLogFiles, maximum number of log files
maxLogFiles=10

labelIndex=/usr/local/webapps/valve3/labels.txt
imageIndex=/usr/local/mapdata/index.txt

# image cache size in megapixels
imageCacheSize=32
